# Pandas

*Pandas* is the premier Python package for data analysis. Pandas is built around the concept of *series* (akin to Numpy vectors) and *data frames* (akin to Numpy matrices). Unlike their Numpy counterparts, Pandas has a rich API that often makes series and data frames more convenient to work with.

The source data we will be playing around with are weather measurements in Montreal in 2012. As is typical, the data is found in a CSV-file (comma-separated values). Pandas has an incredibly useful `read_csv` function.

First though, let's import Pandas. Conventionally it is given the name `pd`.

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Now let us read the CSV file and display it.

In [3]:
data = pd.read_csv('data/Montreal.csv')
data.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

As you can see, Jupyter notebooks have nice integration with Pandas allowing us to see dataframes displayed like actual human data.

Every data frame has an *index* and a number of *columns*. It's useful to double-check after reading a CSV file to ensure that everything is up to scratch. (I maybe don't need to tell you this, but there are **A LOT** of shady CSV files out there.)

# Choosing a particular column

In [4]:
data['Temp (C)']

0      -1.8
1      -1.8
2      -1.8
3      -1.5
4      -1.5
       ...
8779    0.1
8780    0.2
8781   -0.5
8782   -0.2
8783    0.0
Name: Temp (C), Length: 8784, dtype: float64

# Choosing a row with a particular value or condition

In [5]:
data.loc[data['Temp (C)'] == 1.8]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
33,2012-01-02 09:00:00,1.8,-3.7,67,44,24.1,99.14,Mostly Cloudy
889,2012-02-07 01:00:00,1.8,-3.4,68,15,25.0,100.82,Mostly Cloudy
1075,2012-02-14 19:00:00,1.8,-6.1,56,7,25.0,101.13,Cloudy
1113,2012-02-16 09:00:00,1.8,-1.3,80,0,16.1,101.91,Mostly Cloudy
1148,2012-02-17 20:00:00,1.8,-3.4,68,24,25.0,100.68,Mostly Cloudy
1165,2012-02-18 13:00:00,1.8,-6.1,56,20,48.3,100.70,Mostly Cloudy
1708,2012-03-12 04:00:00,1.8,-2.6,73,4,25.0,101.80,Mainly Clear
1799,2012-03-15 23:00:00,1.8,0.2,89,19,25.0,101.70,Mostly Cloudy
1800,2012-03-16 00:00:00,1.8,0.4,90,19,25.0,101.67,Cloudy
1811,2012-03-16 11:00:00,1.8,1.3,96,13,8.0,101.40,"Rain,Fog"
1827,2012-03-17 03:00:00,1.8,1.6,99,4,0.2,102.10,Fog
2478,2012-04-13 06:00:00,1.8,-3.4,68,6,48.3,101.67,Clear
2693,2012-04-22 05:00:00,1.8,-0.3,86,19,25.0,101.06,Rain
2815,2012-04-27 07:00:00,1.8,-2.9,71,32,12.9,100.25,Snow
2863,2012-04-29 07:00:00,1.8,-11.9,35,26,48.3,101.64,Mostly Cloudy
6963,2012-10-17 03:00:00,1.8,-0.9,82,6,25.0,100.92,Mostly Cloudy
7414,2012-11-04 22:00:00,1.8,-5.1,60,9,25.0,101.30,Cloudy
7426,2012-11-05 10:00:00,1.8,-7.0,52,17,48.3,101.49,Mainly Clear
7428,2012-11-05 12:00:00,1.8,-7.7,49,15,48.3,101.44,Mostly Cloudy
7430,2012-11-05 14:00:00,1.8,-8.3,47,15,48.3,101.42,Cloudy
7431,2012-11-05 15:00:00,1.8,-7.6,50,20,24.1,101.41,Mostly Cloudy
7479,2012-11-07 15:00:00,1.8,-7.8,49,24,24.1,101.73,Mostly Cloudy
7507,2012-11-08 19:00:00,1.8,-3.3,69,9,25.0,101.27,Mostly Cloudy
7557,2012-11-10 21:00:00,1.8,-6.1,56,9,25.0,102.53,Clear
7653,2012-11-14 21:00:00,1.8,-6.1,56,7,25.0,103.16,Clear
7668,2012-11-15 12:00:00,1.8,-4.7,62,15,24.1,102.73,Cloudy
7672,2012-11-15 16:00:00,1.8,-5.5,58,11,24.1,102.53,Mainly Clear
7882,2012-11-24 10:00:00,1.8,-2.5,73,30,24.1,99.62,Snow Showers
7884,2012-11-24 12:00:00,1.8,-5.0,61,30,24.1,99.60,Snow Showers
7981,2012-11-28 13:00:00,1.8,-4.3,64,20,19.3,101.47,Cloudy
8094,2012-12-03 06:00:00,1.8,-0.1,87,11,25.0,101.58,Clear
8208,2012-12-08 00:00:00,1.8,-1.4,79,4,25.0,101.20,Snow
8224,2012-12-08 16:00:00,1.8,0.8,93,17,4.8,100.49,"Rain,Fog"
8234,2012-12-09 02:00:00,1.8,0.1,88,17,19.3,101.37,Cloudy
8371,2012-12-14 19:00:00,1.8,-3.6,67,19,25.0,101.76,Mostly Cloudy
8533,2012-12-21 13:00:00,1.8,0.3,90,41,19.3,98.36,Snow
8535,2012-12-21 15:00:00,1.8,0.2,89,33,12.9,98.10,Rain

In [6]:
data['Weather']

0                        Fog
1                        Fog
2       Freezing Drizzle,Fog
3       Freezing Drizzle,Fog
4                        Fog
                ...
8779                    Snow
8780                    Snow
8781                    Snow
8782                    Snow
8783                    Snow
Name: Weather, Length: 8784, dtype: object

# One-hot encoding

In [7]:
pd.get_dummies(data['Weather'])

,Clear,Cloudy,Drizzle,"Drizzle,Fog","Drizzle,Ice Pellets,Fog","Drizzle,Snow","Drizzle,Snow,Fog",Fog,Freezing Drizzle,"Freezing Drizzle,Fog",...,"Snow,Fog","Snow,Haze","Snow,Ice Pellets",Thunderstorms,"Thunderstorms,Heavy Rain Showers","Thunderstorms,Moderate Rain Showers,Fog","Thunderstorms,Rain","Thunderstorms,Rain Showers","Thunderstorms,Rain Showers,Fog","Thunderstorms,Rain,Fog"
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8780,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8781,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8782,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8783,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
data.shape

(8784, 8)

# Selecting any range of rows

In [13]:
data[1:5]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

# Selecting any column and row

In [16]:
data['Weather'][:1]

0    Fog
Name: Weather, dtype: object

# Combining dataframes

In [19]:
dummy_data1 = {
        'id': ['1', '2', '3', '4', '5'],
        'Feature1': ['A', 'C', 'E', 'G', 'I'],
        'Feature2': ['B', 'D', 'F', 'H', 'J']}
df1 = pd.DataFrame(dummy_data1, columns = ['id', 'Feature1', 'Feature2'])
dummy_data2 = {
        'id': ['1', '2', '6', '7', '8'],
        'Feature1': ['K', 'M', 'O', 'Q', 'S'],
        'Feature2': ['L', 'N', 'P', 'R', 'T']}
df2 = pd.DataFrame(dummy_data2, columns = ['id', 'Feature1', 'Feature2'])
dummy_data3 = {
        'id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'Feature3': [12, 13, 14, 15, 16, 17, 15, 12, 13, 23]}
df3 = pd.DataFrame(dummy_data3, columns = ['id', 'Feature3'])

In [21]:
# To simply concatenate the DataFrames along the row
df_row = pd.concat([df1, df2])
df_row

  id Feature1 Feature2
0  1        A        B
1  2        C        D
2  3        E        F
3  4        G        H
4  5        I        J
0  1        K        L
1  2        M        N
2  6        O        P
3  7        Q        R
4  8        S        T

However, the row labels seem to be wrong! If you want the row labels to adjust automatically according to the join, you will have to set the argument ignore_index as True while calling the concat() function

In [23]:
df_row_reindex = pd.concat([df1, df2], ignore_index=True)

df_row_reindex

  id Feature1 Feature2
0  1        A        B
1  2        C        D
2  3        E        F
3  4        G        H
4  5        I        J
5  1        K        L
6  2        M        N
7  6        O        P
8  7        Q        R
9  8        S        T

In [24]:
df_col = pd.concat([df1,df2], axis=1)

df_col

  id Feature1 Feature2 id Feature1 Feature2
0  1        A        B  1        K        L
1  2        C        D  2        M        N
2  3        E        F  6        O        P
3  4        G        H  7        Q        R
4  5        I        J  8        S        T